.Praias {
  background-color: #282c34;
  min-height: 100vh;
  padding: 10px;
}

.Praias-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: greenyellow;
}

.Praias-circle {
  background-color: white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.Praias-body {
  color: white;
}

.Praias-container{
  display: flex;
  align-items: center;
  margin-right: 20px;
  .Praias-info {
    line-height: 8px;
  }
  .Praias-square {
    background-color: white;
    border-radius: 5px;
    width: 90px;
    height: 90px;
    margin-right: 10px;
  }
}